/*  your css code here. If applicable */
.card {
  border-radius: 12px;
}

.card img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  cursor: pointer;
}

.lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}
